:root { /*COLORS*/
    --bg-color: #1a1a1f;
    --text-color: #fefefe;
    --accent-color: #c084fc;
    --link-color: #a78bfa;
    --card-bg: #2a2a30;
    --warning-color: #eab308;
    --error-color: #ef4444;
    --success-color: #10b981;
    --subtext-color: #6b7280;
  }

:root { /*SHADOW*/
    --shadow-color-dark: rgba(75, 85, 99, 0.4);   /* Темно-серо-синий */
    --shadow-color-light: rgba(124, 142, 160, 0.2); /* Светло-серо-синий */

}

:root {/*MENU SETTINGS*/
    --menu-height: 90%;
    --scrollbar-thumb: #555566;
    --scrollbar-thumb-width: 6px;
    --scrollbar-thumb-radius: 10px;}


body,
h1, h2, h3, h4, h5, h6,
p,
a,
button,
input,
textarea {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400; /* Regular */
    color: #fefefe;
    letter-spacing: 0.02em;
}

body {
    font-size: 16px;
    line-height: 1.6;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Чтобы менюшка была сверху */
    background-color: var(--bg-color);
}

#background-menu {
    position: absolute;
    top: 5%;
    left: 30%;
    width: 40%;
    height: var(--menu-height);
    background-color: #2a2a30; /* card-bg */
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Выравнивание сверху */
    align-items: center;
    overflow-y: auto;
    box-shadow:
        0 4px 6px -1px var(--shadow-color-dark),
        0 2px 4px -2px var(--shadow-color-light),
        0 8px 16px -4px var(--shadow-color-dark);
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) transparent;
}

.menu-item {
    margin: 15px 0;
    font-size: 1.2rem;
}

.menu-item a {
    color: #a78bfa; /* link-color */
    text-decoration: none;
}

.menu-item a:hover {
    text-decoration: underline;
}

#background-menu::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

#background-menu::-webkit-scrollbar-thumb {
    border-radius: var(--scrollbar-thumb-radius);
    background-color: var(--scrollbar-thumb);
    visibility: hidden; 
}

/* Скрываем трек (фон) */
#background-menu::-webkit-scrollbar-track {
    background-color: transparent;
}


.head {
    font-family: 'Roboto Mono', monospace;
    font-weight: 600; /* Полужирный */
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fefefe;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}

a {
    text-decoration: none;
    display: inline-block; /* Важно для scale анимации */
    transition: transform 0.1s linear;
}
a:hover {
    text-decoration: none;
    transform: scale(1.1); /* Увеличиваем на 10% */
}